.block1 ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
.block1 ul li {
   list-style: none;
   color:black;
}

.block1 ul li a{
    
    text-decoration: none;
    color: white;
 }
.block1 ul li a:hover{
   text-decoration: underline transparent;
   border-bottom: 3px solid red;
  
}

div a::after{
   content: "";
   height: 3px;
   width: 0px;
   margin: auto;
   display: block;
}
div p::after{
   background-color: red;
   width: 100%;
   transform: width 0.5s linear;
}


.block2 ul {
    display: flex;
    align-items: center;
    gap: 30px;
}
.block2 ul li {
    list-style: none;
    color: white;
 }
 .block2 ul li a{
    text-decoration: none;
    color: white;
 }
 .block2 ul li a :hover{
   text-decoration: underline transparent;
   border-bottom: 3px solid red;
   transition: 3000ms;
   
 }
 .main{
    display: flex;
    align-items: center;
    height: 75px;
    background-color: black;
    margin-top: -15px;
    margin-left: -10px;
    width: 1538px;

 }
 input{
    margin-left: 150px;
    height: 30px;
    width: 200px;

 }
 img{
    height: 60px;
 }